@using bys.activity.web.Utils

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BeyondSoft Activity</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Beyondsoft(SZ) Activity", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>

                <ul class="nav navbar-nav navbar-right" id="Setting" data-position="bootom" data-intro="Here you can change type." data-step="2">
                    <li class="dropdown">
                        <a class="dropdown-toggle " href="javascript:void(0)" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="spliter">
                                @CommonUtils.GetShortName(User.Identity.Name)
                            </span>
                        </a>
                    </li>
                </ul>


            </div>
        </div>
    </div>
    <div class="container body-content">
        <br/>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BeyondSoft(SZ)| @Html.ActionLink("Beckend", "Index", new { controller = "Home", area = "Backend" }) </p>
        </footer>
    </div>


</body>
</html>
