@{
    ViewBag.Title = "Home";
    int index = 1;
}

@using bys.activity.web.Utils
@model PagedList.IPagedList<bys.activity.dal.Activity>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    .longText {
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; /*兼容IE*/
    }
</style>

<br />
@using (Html.BeginForm("Index", "Home", FormMethod.Get, htmlAttributes: new { @class = "form-inline" }))
{
    <div class="form-group">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default", @role = "button",  @target = "_blank"  })
    </div>
    <div class="form-group">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Find by name/detail" })
    </div>
    <button type="submit" class="btn btn-default">Search</button>
    <br />
    <br />
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th>
                    EndDateTime
                </th>
                <th>
                    OriginatorAlias
                </th>
                <th>
                    Detail
                </th>
                <th>
                    Status
                </th>
                <th>
                    CreateDate
                </th>
                <th class="col-md-2">
                    Operations
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(index++)
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.StartDateTime
                    </td>
                    <td>
                        @item.EndDateTime
                    </td>
                    <td>
                        @CommonUtils.GetShortName(item.OriginatorAlias)
                    </td>
                    <td>
                        <div class="longText" title="@item.Detail">@item.Detail</div>
                    </td>
                    <td>
                        @Html.Raw(DateTime.UtcNow.AddHours(8) > item.StartDateTime ? "<b style='color:#EE4000'>Expired</b>" : "<b style='color:green'>Active</b>")
                    </td>
                    <td>
                        @item.CreateDate
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { @ActivityID = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { @ActivityID = item.ID }, new { @class = "delete" }) |
                        @Html.ActionLink("Repeat", "Repeat", new { @ActivityID = item.ID })
                    </td>
                </tr>
            }
    </table>
</div>

<br />

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

