@using bys.activity.web.Utils
@{ 
    string controller = ViewContext.RouteData.Route.GetRouteData(this.Context).Values["controller"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BeyondSoft Activity</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Beyondsoft(SZ) Activity", "Index", "Home", new { area = "backend" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right" id="Setting" data-position="bootom" data-intro="Here you can change type." data-step="2">
                    <li class="@CommonUtils.GetNavBarLiClass(controller,"Home")">
                        @Html.ActionLink("Activity", "Index", new { controller = "Home" })
                    </li>
                    <li class="@CommonUtils.GetNavBarLiClass(controller,"ActivityType")">
                        @Html.ActionLink("ActivityType", "Index", new { controller = "ActivityType" })
                    </li>
                    <li class="@CommonUtils.GetNavBarLiClass(controller,"Member")">
                        @Html.ActionLink("Member", "Index", new { controller = "Member" })
                    </li>

                     <li class="dropdown">
                        <a class="dropdown-toggle " href="javascript:void(0)" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="spliter">
                                @CommonUtils.GetShortName(User.Identity.Name)
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BeyondSoft(SZ) | @Html.ActionLink("Front End", "Index", new { controller = "Home", area = "" }) </p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        $(function () {

            $(".delete").click(function () {
                {
                    if (confirm('are you sure to delete this?')) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            });

        })

    </script>

</body>
</html>